* {
    align-content: center;
    font-size: 30px;
}

.answers {
    list-style: lower-alpha;
    cursor: pointer;
}

body {
    text-align: center;
}

.clock {
margin-top: -545px;
margin-right: -1800px;
}